
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU.r
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_RTAS.r
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_1.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_4.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/SheetMusic_StandalonePlugin.lastbuildstate
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMusic.exe
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMusic.exe.recipe
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMusic.ilk
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMusic.pdb
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMusic_StandalonePlugin.log
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMusic_StandalonePlugin.vcxproj.FileListAbsolute.txt
JuceLibraryCode/BinaryData.cpp
JuceLibraryCode/BinaryData.h
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/Lib.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/SheetMusic_SharedCode.lastbuildstate
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMusic.lib
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMusic.lib.recipe
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMusic.pdb
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMusic_SharedCode.log
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMusic_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/Shared Code/StaffComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/StaffHeaderComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/TreeViewItemComponent.obj
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/Standalone Plugin/SheetMus.7BA83E99.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/PlayheadComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/ScoreComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetGridComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/SheetMus.D1C23AD0.tlog/CL.command.1.tlog
Builds/VisualStudio2022/.vs/SheetMusic/v17/ipch/AutoPCH/5dddbd2fb1082526/STAFFHEADERCOMPONENT.ipch
Builds/VisualStudio2022/.vs/SheetMusic/v17/ipch/AutoPCH/a62dc4f737df27a7/TREEVIEWITEMCOMPONENT.ipch
Builds/VisualStudio2022/.vs/SheetMusic/v17/ipch/AutoPCH/d645fc0b66fcdc5d/PLAYHEADCOMPONENT.ipch
Builds/VisualStudio2022/.vs/SheetMusic/v17/ipch/AutoPCH/fb73253fc5e70f2a/PLUGINEDITOR.ipch
Builds/VisualStudio2022/.vs/SheetMusic/v17/Solution.VC.db
Builds/VisualStudio2022/.vs/SheetMusic/v17/Solution.VC.db-shm
Builds/VisualStudio2022/.vs/SheetMusic/v17/Solution.VC.db-wal
Builds/VisualStudio2022/resources.rc
Builds/VisualStudio2022/SheetMusic.sln
Builds/VisualStudio2022/SheetMusic_SharedCode.vcxproj
Builds/VisualStudio2022/SheetMusic_SharedCode.vcxproj.filters
Builds/VisualStudio2022/SheetMusic_StandalonePlugin.vcxproj
Builds/VisualStudio2022/SheetMusic_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2022/SheetMusic_StandalonePlugin.vcxproj.user
Builds/VisualStudio2022/SheetMusic_VST3.vcxproj
Builds/VisualStudio2022/SheetMusic_VST3.vcxproj.filters
Builds/VisualStudio2022/x64/Debug/Shared Code/BarComponent.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/BinaryData.obj
Builds/VisualStudio2022/x64/Debug/Shared Code/CellComponent.obj
Builds/VisualStudio2017/SheetMusic_SharedCode.vcxproj.filters
Builds/VisualStudio2017/SheetMusic_StandalonePlugin.vcxproj
Builds/VisualStudio2017/SheetMusic_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2017/SheetMusic_VST3.vcxproj
Builds/VisualStudio2017/SheetMusic_VST3.vcxproj.filters
Builds/VisualStudio2019/resources.rc
Builds/VisualStudio2019/SheetMusic.sln
Builds/VisualStudio2019/SheetMusic_SharedCode.vcxproj
Builds/VisualStudio2019/SheetMusic_SharedCode.vcxproj.filters
Builds/VisualStudio2019/SheetMusic_StandalonePlugin.vcxproj
Builds/VisualStudio2019/SheetMusic_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2019/SheetMusic_VST3.vcxproj
Builds/VisualStudio2019/SheetMusic_VST3.vcxproj.filters
Builds/VisualStudio2022/.vs/SheetMusic/v17/.suo
Builds/VisualStudio2022/.vs/SheetMusic/v17/Browse.VC.db
Builds/VisualStudio2022/.vs/SheetMusic/v17/Browse.VC.db-shm
Builds/VisualStudio2022/.vs/SheetMusic/v17/Browse.VC.db-wal
Builds/VisualStudio2022/.vs/SheetMusic/v17/Browse.VC.opendb
Builds/VisualStudio2022/.vs/SheetMusic/v17/fileList.bin
Builds/MacOSX/Info-AU.plist
Builds/MacOSX/Info-Standalone_Plugin.plist
Builds/MacOSX/Info-VST3.plist
Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/SheetMusic.xcodeproj/project.pbxproj
Builds/VisualStudio2017/resources.rc
Builds/VisualStudio2017/SheetMusic.sln
Builds/VisualStudio2017/SheetMusic_SharedCode.vcxproj
